:root {
  --container-width: #{rem(1200)};
  --container-padding: #{rem(15)};

  /*  @include laptop {
    --container-width: #{rem(1280)};
  } */

  --font-main: sans-serif;
  --font-accent: "Manrope", sans-serif;
  --font-titles: var(--font-accent);

  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;
  --link-color: #2578c8;

  --laptop-size: #{rem(1200)};
  --tablet-size: #{rem(959)};
  --mobile-size: #{rem(599)};

  --border: #{rem(1)} solid var(--color-dark-15);

  --transition-duration: 0.2s;

  --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

  --100vw: calc(100vw - var(--scrollbar-width));
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
