@use "./base/index" as *;
.arrivals {
  padding: rem(48) 0;
}

.arrivals__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: rem(48);
}

.arrivals__dots {
  @include mobile {
    display: none;
  }
}

.arrivals__slider {
  display: flex;
  gap: rem(24);
}
