.collection {
  margin-bottom: rem(100);
  background-color: #f6f6f6;
  border-radius: rem(4);
  padding-bottom: rem(100);
}

.collection__title {
  padding: rem(48) 0;
}

.collection__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(24);
}
