@use "./base/index" as *;
.newsletter {
  height: rem(360);
  padding-top: rem(100);
  display: flex;
  justify-content: center;

  background-color: #e2e4e3;
  background-image: url("./../img/newsletter/bg.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;

  @include mediaBg() {
    background-image: url("./../img/newsletter/bg@2x.jpg");
  }

  @include tablet {
    background-image: none;
  }

  @include mobile {
    height: auto;
    padding: rem(95) 0;
  }
}

.newsletter__content {
  flex-grow: 1;
  max-width: rem(488);
  text-align: center;
  padding: 0 var(--container-padding);
}

.newsletter__title {
  margin-bottom: rem(8);
}
.newsletter__desc {
  margin-bottom: rem(32);
  font-size: rem(18);
  line-height: 1.666666666666667;
  color: #121212;

  @include mobile {
    font-size: rem(14);
  }
}

.form-newsletter {
  padding-bottom: rem(12);
  display: flex;
  gap: rem(8);
  border-bottom: 1px solid rgba(108, 114, 117, 0.5);
}

.form-newsletter__input {
  color: #000;
  flex-grow: 1;

  &::placeholder {
    color: #6c7275;
  }
}

.form-newsletter__submit {
  color: #6c7275;
  transition: all 0.2s ease-in;

  &:hover {
    color: #121212;
  }
}
