@use "./base/index" as *;
.tagline {
  position: relative;
  padding: rem(8) rem(15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);
  background-color: #141718;
  color: #fff;
  font-family: var(--font-main);

  a {
    color: var(--tagline-link);
  }
}

.tagline__desc {
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(22);

  @include mobile {
    font-size: rem(12);
  }
}

.tagline__link {
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(22);
  display: flex;
  gap: rem(4);
  align-items: center;
  color: var(--tagline-link);

  @include mobile {
    display: none;
  }
}

.tagline__close {
  position: absolute;
  top: rem(10);
  right: rem(16);
  z-index: 9;

  svg {
    fill: var(--tagline-link);
    transition: all 0.2s ease-in;
  }

  @include mobile {
    svg {
      fill: var(--tagline-link);
    }
  }

  &:hover {
    svg {
      fill: #fff;
    }
  }
}

.tagline__link-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
