@use "./base/index" as *;
.values {
  padding: rem(40) 0;
}

.values__grid {
  display: flex;
  flex-wrap: wrap;
  gap: rem(24);

  & > * {
    flex: 1;
    min-width: rem(262);
  }

  @include mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: rem(24) rem(8);

    & > * {
      flex: none;
      min-width: auto;
    }
  }
}
